<div class="app">
    <sta-menu [backdrop]="true">
        <div list_horizontal>
            <div class="temp-centered">
                <span class="material-icons">arrow_forward_ios</span>
                <span>Prima pagina</span>
            </div>
            <div class="temp-centered">
                <span class="material-icons">arrow_forward_ios</span>
                <span>Seconda pagina</span>
            </div>
            <div class="temp-centered">
                <span class="material-icons">arrow_forward_ios</span>
                <span>Terza pagina</span>
            </div>
        </div>
    </sta-menu>
    <sta-card>
        <sta-card-header>
            <h1 card-title>This is a title!</h1>
            <h2 card-subtitle>And this is an awesome subtitle.</h2>
            <div card-avatar="right"><img [src]="'assets/images/micio-side.jpg'" alt="miciotico avatar"></div>
        </sta-card-header>
        <p>ciao, sono fuori</p>
    </sta-card>
    <sta-card>
        <p>Hello, this is a placeholder!</p>
    </sta-card>

    <sta-button (clicked)="cliccami()" [color]="'secondary'" [disabled]="false">
        <span class="material-icons">check_circle</span>
        Submit
    </sta-button>

    <sta-folder>
        <sta-file>
            <div tab>Ciao</div>
            <div content>Oh Oh Oh</div>
        </sta-file>
        <sta-file>
            <div tab>Ciao 2</div>
            <div content>Bim Bum Bam</div>
        </sta-file>
        <sta-file>
            <div tab>Pleasure principles</div>
            <div content>Oh Oh Oh</div>
        </sta-file>
        <sta-file>
            <div tab>Janet</div>
            <div content>Bim Bum Bam</div>
        </sta-file>
    </sta-folder>
</div>


